
@{
    ViewBag.Title = "ListCustomer";
}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<h1>List Of Customers</h1><br />
<table>
    <tr>
        <th>Customer Id</th>
        <th>Company Name</th>
        <th>Contact Name</th>
        <th>Contact Title</th>
        <th>Address</th>
        <th>City</th>
        <th>Region</th>
        <th>Postal Code</th>
        <th>Country</th>
        <th>Phone</th>
        <th>Fax</th>
    </tr>

    @foreach (var a in ViewBag.aListOfCustomer)
    {
        <tr>
            <td>@Html.Raw(a.CustomerId)</td>
            <td>@Html.Raw(a.CompanyName)</td>
            <td>@Html.Raw(a.ContactName)</td>
            <td>@Html.Raw(a.ContactTitle)</td>
            <td>@Html.Raw(a.Address)</td>
            <td>@Html.Raw(a.City)</td>
            <td>@Html.Raw(a.Region)</td>
            <td>@Html.Raw(a.PostalCode)</td>
            <td>@Html.Raw(a.Country)</td>
            <td>@Html.Raw(a.Phone)</td>
            <td>@Html.Raw(a.Fax)</td>
            <td><a href="GetUpdateCustomer?id=@a.CustomerId">Update</a></td>
        </tr>
    }
</table><br /><br />